<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924607572467-baribm52ssijtraa91n02kc653pib0ma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924607572467-baribm52ssijtraa91n02kc653pib0ma</string>
	<key>API_KEY</key>
	<string>AIzaSyCkhzCGFF-HtMvX2t0Llgqd93Ea1HRA4W0</string>
	<key>GCM_SENDER_ID</key>
	<string>924607572467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reditTutorial</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-479fe</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-479fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924607572467:ios:99712a8a3a4023d98a8a86</string>
</dict>
</plist>